---
interface Props {
	color: string;
}

const { color } = Astro.props;
---

<div class="group relative">
  <button title="Learn more" class="font-serif font-black text-baltic text-[15px] tracking-[1px] relative z-10">
  LEARN MORE
  </button>
  <div class={`rounded-[28px] h-[10px] w-[137px] ${color} opacity-25 relative left-[-8px] bottom-[9px]`} />
</div>