---
import IconHamburger from "./icons/IconHamburger.astro";
import Logo from "./icons/Logo.astro";




---
<script>
  let toggleMenu = false;
  const hamburger = document.querySelector("#hamburger")!;
  const menu = document.querySelector("#menu")!;

  hamburger.addEventListener("click", () => {
    toggleMenu = !toggleMenu;
    
    if(toggleMenu) {
      menu.classList.remove('hidden')
    }
    else {
      menu.classList.add('hidden')
    }

  });
</script>

<div class="flex justify-center">
  <div id="menu" class=`hidden xl:hidden absolute w-full top-[106px] px-10`>
    <div class="ml-auto bg-white w-[24px] h-[24px] tip" />
    <div class="bg-white flex flex-col gap-y-8 justify-center items-center rounded-lg rounded-tr-none p-10 text-steel text-[20px] font-semibold tracking-[-0.14px]">
      <button title="Learn more">About</button>
      <button title="Services">Services</button>
      <button title="Projects">Projects</button>
      <button title="Contact" class="w-[140px] h-[56px] rounded-[28px] bg-cyberyellow text-baltic font-serif font-bold tracking-[-0.11px] text-[15px]">CONTACT</button>
    </div>
  </div>
  <div class="w-full flex justify-between items-center px-10 pt-9 absolute">
    <div class="w-[124px] h-[24px]"><Logo color="white"/></div>
    <div class="lg:hidden">
      <button id="hamburger">
        <IconHamburger />
      </button>
      
    </div>
    <div class="hidden lg:flex justify-end items-center gap-x-12 text-white text-base tracking-[-0.13px] font-semibold">
      <button title="Learn more">About</button>
      <button title="Services">Services</button>
      <button title="Projects">Projects</button>
      <button title="Contact"  class="w-[140px] h-[56px] rounded-[28px] bg-white hover:bg-opacity-25 text-baltic hover:text-white font-serif font-bold tracking-[-0.11px] text-[15px]">CONTACT</button>
    </div>
  </div>
</div>
<style>
  .tip {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
</style>